<footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; WanderLust Private Ltd.</div>
        <div class="f-info-links">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="/company-details">Company Details</a>
        </div>
    </div>
</footer>